/* Custom styles */

/* Break long URLs in rich text content */
p[role="presentation"] a span {
  word-break: break-all;
}

/* Show cheat sheet after article hero on mobile */
@media screen and (max-width: 989px) {
  .article-sidebar {
    order: -1;
  }
}



  .desktop-only-blog {
    display: block !important;
  }


  @media screen and (max-width: 767px) {
    .desktop-only-blog {
      display: none !important;
    }
  }

    .mobile-only-blog {
    display: none !important;
  }

  @media screen and (max-width: 767px) {
    .mobile-only-blog {
      display: block !important;
    }
  }